$color-brand-primary: rgb(210, 205, 12);
$color-brand-primary-alternative: rgb(127, 123, 39);
$color-highlight: rgb(97, 85, 79);

$color-background-grey: #e8e8e8;
$color-white: #ffffff;
$color-black: #000000;
$color-font-grey: #9c9c9c;