@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin-ext');

$font-family-base: 'Source Sans Pro';
$font-family-heading: 'Source Sans Pro';

$font-small-size: 0.7em;
$font-smaller-size: 0.8em;
$font-default-size: 1em;
$font-regular-size: 1.1em;
$font-bigger-size: 1.3em;
$font-biggest-size: 32px;

$font-weight-extra-thin: 100;
$font-weight-thin: 200;

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
